<div>
  Reset password...
  <br /><br />
  <form (ngSubmit)="buttonClick()">
    <mat-form-field>
      <input matInput type="email" name="email" [(ngModel)]="email" placeholder="Email" />
    </mat-form-field>
    <br />
    <button *ngIf="!showSuccess && !showFailure" type="submit" mat-raised-button [disabled]="buttonDisabled()">Send email</button>
    <div *ngIf="showSuccess">An email has been sent with a password reset link!</div>
    <div *ngIf="showFailure">Something went wrong! Did you enter the correct email?</div>
  </form>
</div>
