<div *ngIf="isLandingPage">
  <img src="assets/youareworthsharing_banner.png" style="width: 100%">
</div>
<div *ngIf="!isLandingPage">
  <h1 *ngIf="!sessionIsValid()" style="margin: 30px;">
    {{ title }}
  </h1>
  <div *ngIf="sessionIsValid()" class="navbar navbar-expand h4h-header">
    <img src="assets/splatter.png" style="width: 75px; transform: scale(1.5) translateX(-15px);">
    <a class="navbar-brand d-none d-md-block" href="/home">{{ title }}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['myprofile']">Myself</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['search']">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['signin']" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>