<div *ngIf="match">
  <img src="{{api_url}}pictures/{{match.picture_file}}" class="match-full-image" />
  <div class="match-full-text">
    <!-- NAME -->
    <div *ngIf="editing!==selfEditableEnum.preferred_name">
      <span class="match-full-name">{{match.preferred_name}}</span>
      <a class="edit" (click)="setEditing(selfEditableEnum.preferred_name)" *ngIf="self">Edit</a>
    </div>
    <div *ngIf="editing===selfEditableEnum.preferred_name">
      <input type="text" placeholder="Preferred Name" [(ngModel)]="editText" (blur)="finishedEditing()" />
    </div>
    <!-- AGE -->
    <div *ngIf="editing!==selfEditableEnum.birthday">
      <span class="match-full-age">{{match.age}}</span>
      <a class="edit" (click)="setEditing(selfEditableEnum.birthday)" *ngIf="self">Edit</a>
    </div>
    <div *ngIf="editing===selfEditableEnum.birthday">
      <input type="text" placeholder="Birthday" [(ngModel)]="editText" (blur)="finishedEditing()" />
    </div>
    <!-- LOCATION -->
    <span class="match-full-info">(Location)</span>
    <!--
    <br /><br />
    <span *ngFor="let id of top_identities" [style.color]="id.category_values.color">
      {{id.name}}
    </span>
    <br /><br />
    Seeking...
    <br />
    <span *ngFor="let id of top_preferences" [style.color]="id.category_values.color">
      {{id.name}}
    </span>
    -->
  </div>
  <div style="clear: both;"></div>
</div>
<div class="sub-nav-container">
  <a class="sub-nav" (click)="view=viewsEnum.stats"
     [ngClass]="view===viewsEnum.stats ? 'active' : ''">Stats</a>
  <a class="sub-nav" (click)="view=viewsEnum.bio"
     [ngClass]="view===viewsEnum.bio ? 'active' : ''">Bio</a>
  <a class="sub-nav" (click)="view=viewsEnum.contact"
     [ngClass]="view===viewsEnum.contact ? 'active' : ''">Contact</a>
</div>
<div *ngIf="view===viewsEnum.stats">
  <div>
    <div class="match-full-like">You like that they are...</div>
    <div class="word_cloud">
      <span *ngFor="let match_dim of youLikeThem">
        <span class="word_cloud_word" [style.font-size.px]="getDimFontSize(match_dim)" [style.color]="match_dim.dimension.category_values.color">{{matchDimString(match_dim)}} </span>
      </span>
    </div>
  </div>
  <div>
    <div class="match-full-like">They like that you are...</div>
    <div class="word_cloud">
      <span *ngFor="let match_dim of theyLikeYou">
        <span class="word_cloud_word" [style.font-size.px]="getDimFontSize(match_dim)" [style.color]="match_dim.dimension.category_values.color">{{matchDimString(match_dim)}} </span>
      </span>
    </div>
  </div>
  <div>
    <div class="match-full-like">You might not like that they are...</div>
    <div class="word_cloud">
      <span *ngFor="let match_dim of youNotLikeThem">
        <span class="word_cloud_word" [style.font-size.px]="getNegativeDimFontSize(match_dim)" [style.color]="match_dim.dimension.category_values.color">{{matchDimString(match_dim)}} </span>
      </span>
    </div>
  </div>
</div>
<div *ngIf="view===viewsEnum.bio">
  Coming soon!
</div>
<div *ngIf="view===viewsEnum.contact">
  <div *ngIf="editing!==selfEditableEnum.contact">
    <span class="match-contact">{{match.contact}}</span>
    <a class="edit" (click)="setEditing(selfEditableEnum.contact)" *ngIf="self">Edit</a>
  </div>
  <div *ngIf="editing===selfEditableEnum.contact">
    <textarea type="text" [(ngModel)]="editText" (blur)="finishedEditing()" ></textarea>
  </div>
</div>