.match-full-image {
    width: 60%;
    float: left;
}

.match-full-text {
    width: 40%;
    padding: 10px;
    color: black;
    float: right;
}

.match-full-name {
    font-family: 'Museo-slab', 'museo-slab', serif;
    font-size: 2em;
}

.match-full-like {
    font-family: 'Museo-slab', 'museo-slab', serif;
    font-size: 1.5em;
    text-align: left;
    color: black;
}