.match-full-image {
    width: 60%;
    float: left;
}

.match-full-text {
    width: 40%;
    padding: 10px;
    color: black;
    float: right;
}

.edit {
    color: #E266A4 !important;
    cursor: pointer;
    padding: 0 15px;
}

.match-full-name {
    font-family: 'Museo-slab', 'museo-slab', serif;
    font-size: 1.7em;
}

.match-full-info {
    font-family: 'Museo-slab', 'museo-slab', serif;
    font-size: 1.2em;
    color: gray;
}

.sub-nav-container {
    text-align: left;
    margin: 20px;
    color: black;
}

.match-full-bottom {
    min-height: 250px;
}

.sub-nav {
    font-family: 'Museo-slab', 'museo-slab', serif;
    cursor: pointer;
    text-align: left;
    padding: 15px;
}

.active {
    color: #E266A4 !important;
}

.match-full-like {
    font-family: 'Museo-slab', 'museo-slab', serif;
    font-size: 1.5em;
    text-align: left;
    color: black;
}

.word_cloud {
    margin-bottom: 20px;
}

.word_cloud_word {
    line-height: 0.9em;
}

.match-essay {
    color: black;
    padding: 20px;
}

textarea {
    text-align: center;
    color: black;
}