.dim-input {
    margin-bottom: 20px;
    text-align: left;
}

.dim-input-name {
    margin: 5px 0 10px;
}

.dim-input-name-mobile {
    text-align: center;
}

.selected {
    background-color: darkgray;
    color: white;
}

.yes-no-button {
    color: white;
}

.not-selected {
    background-color: lightgray !important;
    color: black;
}

.dim-input-slider {
    margin: 10px 0 20px;
}


.ui-slider-horizontal {
    height: 0.4em;
}

.slider_left_label {
    text-align: left;
    font-size: 0.8em;
    margin: 10px 0;
}

.slider_right_label {
    text-align: right;
    font-size: 0.8em;
    margin: 10px 0;
}