<div class="app-content">
  <div class="sub-nav-container">
    <a class="sub-nav" (click)="view=viewsEnum.info"
       [ngClass]="view===viewsEnum.info ? 'active' : ''">Profile</a>
    <a class="sub-nav" (click)="view=viewsEnum.identities"
       [ngClass]="view===viewsEnum.identities ? 'active' : ''">Identities</a>
  </div>

  <div [hidden]="view !== viewsEnum.identities">
    <app-dimensions-ui [preferences]="false"></app-dimensions-ui>
  </div>
  <div [hidden]="view !== viewsEnum.info" >
    <app-match [self]="true"></app-match>
    <!--
    <label>Preferred Name: </label>
    <br />
    <input type="text" [(ngModel)]="preferred_name">
    <br /><br />
    <label>Contact info: </label>
    <br />
    <textarea [(ngModel)]="contact"></textarea>
    <br />
    <button (click)="saveProfile()" >Save</button>
    -->
  </div>
</div>