<p style="margin: 20px 50px">Human For Human is an ad-free, non-swiping platform created by David Mackenzie
  to help all humans connect freely and respectfully to find relationships, friendships, sex, and community.
  Open and affirming to all genders, sexualities, bodies, relationship styles,
  and ways of existing as a human being in the world.</p>
<p style="font-size: 0.9em">Currently in alpha.
  Location-specific functionality limited to the New York City area.</p>
<br />
<h1>Code of Conduct:</h1>

<div class="row">
  <div class="col-lg">
    <h3>Respect for femininity</h3>

    <p>This site makes no effort to draw a line around the category of “woman”,
        but anyone who feels that a part of themselves is feminine deserves to have that part be respected.</p>

    <h3>Respect for people of color</h3>

    <p>Non-white folks deserve online spaces where they are treated like their complete selves, not just members of their race.
      This should be such a space.
      To the extent your sexuality involves a racial component, express the desires not the aversions.</p>

    <h3>Consent is an ongoing process</h3>

    <p>Boundaries can exist at any point on any level. Be prepared to acknowledge and respect them.</p>
  </div>

  <div class="col-lg">
    <h3>Respect for genders and sexualities outside the ones you currently understand</h3>

    <p>It’s a special kind of insult to tell someone that something they've struggled to understand about themselves is invalid.</p>

    <h3>Accept people’s bodies as they are</h3>

    <p>No one’s body is wrong, only the mistreatment of them because of their body.
      This includes secondary sexual characteristics, primary sexual characteristics, weight, age, ableness, &c.</p>

    <h3>No threats of violence</h3>

    <p>Unless you're engaging in a mutually-sought-after BDSM style thing, violent speech has no place here.
        If someone doesn't understand that you are joking, you’re in the wrong, not them.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <h3>Be human</h3>

    <p>No robots, monsters, catfish, energy vampires, or trolls.</p>
  </div>
</div>

<mat-checkbox [(ngModel)]="consent">
  I can handle this!
</mat-checkbox>

<div *ngIf="consent">
    <div *ngIf="!showThanks">
      Be an alpha user!
      <form (ngSubmit)="submitEmail()">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="emailinput" (keyup)="checkEmailFormat()" name="Email" placeholder="Email" />
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="submitdisabled">Sign up</button>
        <div *ngIf="showError">{{errorMessage}}</div>
      </form>
    </div>
    <div *ngIf="showThanks">Thanks for signing up! We'll be in touch!</div>
  <div class="already-member">
    Already a member? <a href="/signin">Sign in</a>
  </div>
</div>
<div style="height: 60px;"></div>
