<p>This is a site for you (yes, you!) to find other humans to have naked sexy time with.
  But it is also a place for everyone to treat each other as a full human beings with all the complexities that go with that.
  You for them and them for you.</p>

<p>With that in mind, we’ve got a few guidelines to follow while you’re here:</p>

<ul>
  <li>Respect for femininity

    This site makes no effort to draw a line around the category of “woman”, but anyone who feels that a part of themselves is feminine deserves to have that part be respected.</li>

  <li>Respect for genders and sexualities outside the ones you currently understand

    It’s a special kind of insult to tell someone that something they spent years struggling to understand about themselves is incorrect.</li>

  <li>Accept people’s bodies as they are

    No one’s body is wrong, only your mistreatment of them because of their body. This includes secondary sexual characteristics, primary sexual characteristics, weight, age, ableness.</li>

  <li>Respect for people of color

    In a media landscape dominated by white voices, let’s give some space for those people with profoundly different social circumstances. To the extent your sexuality involves a racial component, express the desires not the aversions.</li>

  <li>Consent is an ongoing process

    Boundaries can exist at any point on any level. Be prepared to acknowledge and respect them.</li>

  <li>No threats of violence (without clear navigation of bdsm style consent)

    If they didn’t understand that you were joking, you’re in the wrong, not them.</li>

</ul>