<div class="app-content no-gutter">
  <div class="sub-nav-container">
    <a class="sub-nav" (click)="view=viewsEnum.preferences"
       [ngClass]="view===viewsEnum.preferences ? 'active' : ''">Preferences</a>
    <a class="sub-nav" (click)="view=viewsEnum.matches"
       [ngClass]="view===viewsEnum.matches ? 'active' : ''">Matches</a>
    <a class="sub-nav d-inline d-md-none" (click)="back()"
       *ngIf="match_detail">Back to list</a>
  </div>
  <div [hidden]="view !== viewsEnum.preferences">
    <app-dimensions-ui [preferences]="true"></app-dimensions-ui>
  </div>
  <div [hidden]="view !== viewsEnum.matches">
    <div class="row">
      <div class="col-12 col-md-4 d-md-block" [ngClass]="match_detail ? 'd-none' : ''">
        <a *ngFor="let match of matches" class="match-preview" routerLink="./{{match.id}}" (click)="match_detail=true;">
          <img class="match-preview-thumbnail" src="{{api_url}}pictures/{{match.picture_file}}" />
          <div class="match-preview-text">
            <div class="profile_name">{{match.preferred_name}}</div>
            <div >{{match.bioline}}</div>
            <div>
              <span *ngFor="let id of match.top_identities" [style.color]="id.category_values.color">
                {{id.name}}
              </span>
            </div>
            <!--
            <div>
              Seeking:
              <span *ngFor="let id of match.top_preferences">
                {{id.name}}
              </span>
            </div>
            -->
          </div>
          <div style="clear: both;"></div>
        </a>
      </div>
      <div class="col-md-8">
        <router-outlet *ngIf="match_detail"></router-outlet>
        <!--
        <app-match *ngIf="match_detail" [match]="match_detail" [theyLikeYou]="theyLikeYou" [youLikeThem]="youLikeThem" [youNotLikeThem]="youNotLikeThem"></app-match>
        -->
      </div>
    </div>
  </div>
</div>