<a (click)="view='preferences'">Preferences</a>
<a (click)="view='matches'">Matches</a>
<div [hidden]="view !== 'preferences'">
  <app-dimensions-ui [preferences]="true"></app-dimensions-ui>
</div>
<div [hidden]="view !== 'matches'">
  <div class="row">
    <div class="col-lg">
      <div *ngFor="let match of matches">
        <div class="profile_name" (click)="getMatch(match.id)">{{match.preferred_name}}</div>
        <div>
          Is:
          <span *ngFor="let id of match.top_identities">
            {{id.name}}
          </span>
        </div>
        <div>
          Seeking:
          <span *ngFor="let id of match.top_preferences">
            {{id.name}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <app-match *ngIf="match_detail" [match]="match_detail" [theyLikeYou]="theyLikeYou" [youLikeThem]="youLikeThem" [youNotLikeThem]="youNotLikeThem"></app-match>
    </div>
  </div>
</div>